<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.it.springboot.daodto.IUserlistDao">

    <delete id="userdelete">
    delete from userinfo where email = #{_email}
    </delete>

    <delete id="contentdelete">
    delete from contents_table where title = #{_title}
    </delete>

    <select id = "getWomenCount" resultType="int">
        select count(*) from userinfo where sx = 1
    </select>

    <select id = "getMenCount" resultType="int">
        select count(*) from userinfo where sx = 2
    </select>
</mapper>