<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.it.springboot.daodto.IUserlistDao">
    <!-- java.util.HashMap -->
     <select id="listDao" resultType="com.it.springboot.daodto.UserlistDto" >
        select * from userinfo order by username desc
    </select>

    <select id="content" resultType="com.it.springboot.daodto.ContentDto" >
        select * from contents_table
    </select>

    <select id = "emailCheck" parameterType="com.it.springboot.daodto.UserlistDto"
    resultType = "int">
    select count(*) from userinfo where email = #{eamil}
    </select>

    <select id = "menCount" parameterType="com.it.springboot.daodto.UserlistDto"
    resultType = "int">
    select count(*) from userinfo where sx = '남자'
    </select>

    <select id = "womenCount" parameterType="com.it.springboot.daodto.UserlistDto"
    resultType = "int">
    select count(*) from userinfo where sx = '여자'
    </select>
</mapper>